In [2]:
import pandas as pd
df1=pd.read_csv('post_df_by_date.csv')  
df2=pd.read_csv('post2_df_by_date.csv')  
df3=pd.read_csv('post3_df_by_date.csv')  
df4=pd.read_csv('post4_df_by_date.csv')

In [11]:
df1=df1[['id','author','author_fullname','title','selftext','score','created_utc']]
df2=df2[['id','author','author_fullname','title','selftext','score','created_utc']]
df3=df3[['id','author','author_fullname','title','selftext','score','created_utc']]
df4=df4[['id','author','author_fullname','title','selftext','score','created_utc']]

In [19]:
print(len(df1),len(df2),len(df3),len(df4))
T=len(df1)+len(df2)+len(df3)+len(df4)
print(T)

583 107 54 434
1178

In [20]:
df=df1.append(df2)
df=df.append(df3)
df=df.append(df4)
#Supressiond es redandances
df.drop_duplicates(keep=False,inplace=True)

In [21]:
len(df)

958

In [22]:
df.to_csv ('final_post_df.csv', index = False, header=True)

In [25]:
import pandas as pd
df10=pd.read_csv('comment_df_by_date.csv')  
df20=pd.read_csv('comment2_df_by_date.csv')  
df30=pd.read_csv('comment3_df_by_date.csv')  
df40=pd.read_csv('comment4_df_by_date.csv')

In [29]:
df10=df10[['id','parent_id','send_replies','author','author_fullname','body','score','created_utc']]
df20=df20[['id','parent_id','send_replies','author','author_fullname','body','score','created_utc']]
df30=df30[['id','parent_id','send_replies','author','author_fullname','body','score','created_utc']]
df40=df40[['id','parent_id','send_replies','author','author_fullname','body','score','created_utc']]

In [30]:
T=len(df10)+len(df20)+len(df30)+len(df40)
print(len(df10),len(df20),len(df30),len(df40), T)

2414 321 173 1179 4087

In [32]:
dfc=df10.append(df20)
dfc=dfc.append(df30)
dfc=dfc.append(df40)
len(dfc)

4087

In [33]:
#Supressiond es redandances
dfc.drop_duplicates(keep=False,inplace=True)
len(dfc)

3465

In [34]:
dfc.to_csv ('final_comment_df.csv', index = False, header=True)

In [35]:
dfc.head()

,id,parent_id,send_replies,author,author_fullname,body,score,created_utc
0,fv5ocpd,t3_hawg06,True,hellyabruther,t2_5wlgc6ek,"I actually smoke weed all the time!\n\nFor me,...",7,2020-06-17 19:56:14
1,fv5br1i,t3_hawg06,True,rexkwando-,t2_cr41u8n,It’s pretty well known a good amount of academ...,1,2020-06-17 18:23:07
2,fv3vf2p,t3_hagwrf,True,creature-of-the-dark,t2_3iilepr8,It took me about 6 months post-PhD to get over...,1,2020-06-17 09:38:15
3,fuxv6y7,t3_h9n78d,True,SurvivingJupiter,t2_45mmqa9l,"Hey, I'm just going to say it. I don't think y...",2,2020-06-15 20:45:06
4,fut0h34,t3_h8t4fk,True,cm0011,t2_fx8fj,I will provide a dissenting opinion - I haven’...,1,2020-06-14 15:04:56